CCM.Common/bin/
CCM.Common/obj/

CCM.Core/bin/
CCM.Core/obj/

CCM.Infrastructure/bin/
CCM.Infrastructure/obj/


CCM.LogService/bin/
CCM.LogService/obj/

CCM.Models/bin/
CCM.Models/obj/


CCM.Repository/bin/
CCM.Repository/obj/


CCM.Services/bin/
CCM.Services/obj/

CCM.Tests/bin/
CCM.Tests/obj/

CloudCoreManager/.vs/
CloudCoreManager/bin/

CloudCoreManager/obj/